VITE_FIREBASE_API_KEY="AIzaSyBdU07z68mRu8lvTDHA77bAaxzYLVCWTwU"
VITE_FIREBASE_AUTH_DOMAIN="mab-mab.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mab-mab"
VITE_FIREBASE_STORAGE_BUCKET="mab-mab.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="151191537200"
VITE_FIREBASE_APP_ID="1:151191537200:web:b4e398d298b55a8e0e8ff5"
VITE_FIREBASE_DATABASE_URL="https://mab-mab-default-rtdb.firebaseio.com"